<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.esterel.rental.ui.category"
            class="com.esterel.rental.ui.views.RentalPropertyTreeView"
            icon="icons/Agency.png"
            id="com.esterel.rental.ui.views.RentalPropertyTreeView"
            name="Agencys"
            restorable="true">
      </view>
      <view
            category="com.esterel.rental.ui.category"
            class="com.esterel.rental.ui.views.RentalPropertyView"
            icon="icons/RentalObjects.png"
            id="com.esterel.rental.ui.views.RentalPropertyView"
            name="rental "
            restorable="true">
      </view>
      <category
            id="com.esterel.rental.ui.category"
            name="rental">
      </category>
      <view
            class="com.esterel.rental.ui.views.CustomerViews"
            id="com.esterel.rental.ui.views.CustomerViews"
            name="Customers">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.esterel.rental.ui.RentalPerspectiveFactory"
            icon="icons/Agency.png"
            id="com.esterel.rental.ui.RentalPerspective"
            name="rental perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.esterel.rental.ui.RentalPreferencePages"
            id="com.esterel.rental.ui.RentalPreferencePages"
            name="Colors">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.esterel.rental.ui.RentalAbstractPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.esterel.rental.ui.HelloWorld"
            name="helloWorld">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.esterel.rental.ui.handlers.HandlerHelloWorld"
            commandId="com.esterel.rental.ui.HelloWorld">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <command
               commandId="com.esterel.rental.ui.HelloWorld"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.esterel.rental.ui.HelloWorld"
               label="Hello World menu"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.esterel.rental.ui.views.RentalPropertyTreeView?after=additions">
         <command
               commandId="com.esterel.rental.ui.HelloWorld"
               label="hello world popup"
               style="push">
         </command>
         <separator
               name="com.esterel.rental.ui.separator1"
               visible="true">
         </separator>
         <menu
               label="label">
            <command
                  commandId="com.esterel.rental.ui.HelloWorld"
                  label="hello world popup 3"
                  style="push">
            </command>
         </menu>
         <command
               commandId="com.esterel.rental.ui.HelloWorld"
               label="hello world popup 2"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
